<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>facebook notifications tracking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>

    <div class="container">
      <header class="pb-3 mb-4 border-bottom mt-3">
        <a href="{{ url_for('index')}}" class="d-flex align-items-center text-dark text-decoration-none">
      
          <span class="fs-2"><i class="fa-solid fa-house me-2"></i>Lọc từ khóa trên các bài viết mới từ facebook</span>
        
        </a>
       
        {% for keyword in context.keywords %}
        

        <span class="badge text-bg-light">{{ keyword }}</span>

        

        {% endfor%}
      </header>

      <div class="row mb-3 align-items-center">
     
        <div class="col-lg-2 col-12">

          <button class="btn btn-success rounded-pill mb-lg-0 mb-2" type="submit" id="refresh"><i class="bi bi-arrow-clockwise me-2"></i>Làm mới</button>
    
 
        </div>

        <div class="col-lg-3 col-12">

          <span class="fw-semibold me-3"><i class="fa-solid fa-microchip me-2 "></i>CPU: {{ context.cpu_usage }}%</span>
 
        </div>
        <div class="col-lg-3 col-12">

          <span class="fw-semibold"><i class="fa-solid fa-memory me-2"></i>Ram: {{ context.ram_used}}({{ context.ram_percent }}%)</span>
 
        </div>
        <div class="col-lg-4 col-12">
          <span class="fw-semibold me-3"><i class="bi bi-gear-fill me-2"></i>{{ context.os_info }}</span>
 
        </div>

      </div>
      {% block content %}

        {% endblock %}
    </div>
    <script>
      const refreshBtn = document.getElementById("refresh");
      refreshBtn.addEventListener("click", refreshPage)

      function refreshPage(){
        location.reload();
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>